.main_info {
    width: 15%;
    padding: 5%;
    display: table-cell;
}

.company {
    width: 15%;
    display: table-cell;
}

.region {
    width: 15%;
    display: table-cell;
}

.help {
    width: 15%;
    display: table-cell;
}

.allblocks {
    background-color: #67C3F3;
    display: table;
    padding: 10px; 
    margin-top: 10%;
}

.h2header {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.h3header {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.pfooter {
    color: #FFFFFF;
    font-weight: 300;
}